{{ define "disbursement/index.tmpl" }}
    <!doctype html>
    <html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Flip test</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer/">


        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
              crossorigin="anonymous">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/apple-touch-icon.png"
              sizes="180x180">
        <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32"
              type="image/png">
        <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16"
              type="image/png">
        <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon.ico">
        <meta name="theme-color" content="#7952b3">

        <style>
            .container {
                width: auto;
                max-width: 680px;
                padding: 0 15px;
            }
        </style>
    </head>
    <body class="d-flex flex-column h-100">

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Create disbursement</h1>

            <form class="row g-3" >
                <div class="mb-3">
                    <label for="bankCodeInput" class="form-label">Bank Code</label>
                    <input type="text" class="form-control" id="bankCodeInput"
                           placeholder="BNI | BCA | MANDIRI" required>
                </div>
                <div class="mb-3">
                    <label for="accountNumberInput" class="form-label">Account Number</label>
                    <input type="text" class="form-control" id="accountNumberInput"
                           placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="amountInput" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amountInput"
                           placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="remarkTextArea" class="form-label">Remark</label>
                    <textarea class="form-control" id="remarkTextArea" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">github.com/oktopriima</span>
        </div>
    </footer>
    </body>
    </html>
{{end}}